<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>793119694647-9k6q8d4qana8p1ehpht5nsr537kgv7hh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.793119694647-9k6q8d4qana8p1ehpht5nsr537kgv7hh</string>
	<key>API_KEY</key>
	<string>AIzaSyDmeyF4JkoiCpLM4-bk9OkUxXRIOYNunUI</string>
	<key>GCM_SENDER_ID</key>
	<string>793119694647</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.realtime.Realtime</string>
	<key>PROJECT_ID</key>
	<string>realtime-f5b82</string>
	<key>STORAGE_BUCKET</key>
	<string>realtime-f5b82.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:793119694647:ios:9ab5b379869867eaf184b2</string>
	<key>DATABASE_URL</key>
	<string>https://realtime-f5b82.firebaseio.com</string>
</dict>
</plist>